@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
  100% {
    transform: translateY(0);
  }
}

.image-float {
  animation: float 3s ease-in-out infinite; 
}
